/*MENU PRINCIPAL (INICIO, USUARIO Y SALIDA DEL SISTEMA)*/
/* GENERAL */
* 
	{
		padding: 0px;
		margin: 0px;
	}

#alignn:hover{
	background-color: #730000;
	text-decoration: none;
}

ul{
	list-style: none;
}
#inicio_panel{
	float: right;
}

nav{
	text-align: center;
	width: 100%;
	margin: 20px auto;
	float: right;
	background-color: #730000;
	border: 1px solid #ffffff;
}

nav ul{
	list-style-type: none;
}

nav ul li.nivel1{ 
	float: left;
	margin-right: 0px;
	border-right: 1px solid #ffffff;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #730000;
	padding: 10px;
	position: relative;
}

nav ul li a.nivel2, nav ul li a.nivel2ie{
	color: #ffffff;
}

nav ul li a.nivel1, nav ul li a.nivel2{
	display: block!important;
	display: none;
	position: relative;
}

nav ul li:hover {
	position: relative;
}

nav ul li a:hover, nav ul li:hover a.nivel1 {
	background-color: #BA0000;
	color: #ffffff;
	text-decoration: underline;
	position: relative;
}

nav ul li ul {
	display: none;
}

nav ul li:hover  ul.nivel2, nav ul li a:hover  ul.nivel2{
	display: block;
	position: absolute;
	left: 0px;
	z-index: 1;
}

nav ul li ul li a:hover ul.nivel3, nav ul li ul li:hover ul.nivel3{
	display: block;
	position: absolute;
	left: 161px!important;left: 160px;
	top:0px!important;top: -21px;
}

nav ul li ul li a {
	color: #ffffff;
	width: 160px;
	padding: 8px 0px;
	border-top-color: transparent;
}

nav ul li ul li a:hover {
	color: #ffffff;
	position: relative;
}

nav ul li ul li ul li a.primera {
	border-top-color: #fff;
}